.contact
    padding: 50px 21vw 150px 21vw
    width: 100vw
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    .contact_container
        display: grid
        grid-template-columns: repeat(4, 255px)
        column-gap: 30px
        & > div
            display: flex
            flex-direction: column
            align-items: center
        p
            font-weight: 500
            font-size: 24px
            line-height: 35px
            color: $light-font-color
            text-transform: uppercase
        .head_text
            color: $light-font-color
            margin-bottom: 25px
        .info_text
            color: #000
        .email_text
            color: $accent-color
        .fa, .fas
            font-size: 29px
            color: $accent-color
            margin-bottom: 36px
