.contact
    margin-bottom: 150px
    h2
        text-align: center
        margin-bottom: 60px
    .contact_container
        display: grid
        grid-template-columns: repeat(4, 255px)
        gap: 30px
        justify-content: center
        & > div
            display: flex
            flex-direction: column
            align-items: center
        p
            font-weight: 500
            font-size: 24px
            line-height: 35px
            color: $light-font-color
            text-transform: uppercase
            text-align: center
        .head_text
            color: $light-font-color
            margin-bottom: 25px
        .info_text
            color: #000
        .email_text
            color: $accent-color
        .fa, .fas
            font-size: 49px
            color: $accent-color
            margin-bottom: 36px
