* 
 margin: 0 
 padding: 0 
 font-family: Oswald 

h2
    text-transform: uppercase
    font-weight: 500
    font-size: 36px
    line-height: 53px
    margin-bottom: 66px
    padding-left: auto
        

  
$dark-font-color: #404149 
$light-font-color: #999999 
$accent-color: #F7654A
$w-color: #FFF

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;212;300;400;500;600;700&display=swap')
@import 'header'
@import "projectcards"
@import "activities"
@import "contacts"
@import 'footer'
